.first-part
{
  position: relative;
  height: 100vh;
}
#nm-video
{
  width: 100% ;
  position: absolute;
  z-index: -1;
  top: -6%; /* videoyu ortalamak için */
}
#main-paragraph
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  width: 50%;
  margin-left: 6.25rem;
}
.head
{
  display: flex;
  flex-direction: column;
  gap: 0.62rem;
  margin-top: 10rem;
}
#who
{
  text-align: left;
  color: #ECECEC;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.01rem;
  margin-bottom: 0.6rem;
}
#the-future
{
  color: #ECECEC;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px; /* 105% */
  letter-spacing: 0.03rem;
  width: 40rem;
  height: 5.2rem;
  margin-bottom: 4.75rem;
}
#declaration
{ 
  border-left: 1px solid white;
  padding: 1rem 0;
  width: 34rem;
  height: 9rem;
  color: var(--white, #FFF);
  font-family: Mecellem;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 142.857% */
  letter-spacing: 0.008rem;
  padding: 0.4rem;
  padding-left: 2rem;
  margin-bottom: 2.6rem;
}
.btn
{
  display: flex;
  flex-direction: row;
  height: 4rem;
  align-items: center;

}
#mecellem-btn, #learn-btn
{
  display: flex;
  padding: 1rem 1.2rem;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: var(--white, #FFF);
  border-radius: 8px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#mecellem-btn
{
  margin-left: 6.25rem;
  border: 1px solid var(--vivid-gamboge, #F90);
  background: var(--vivid-gamboge, #F90);
  margin-right: 1.2rem;
  height: 3.25rem;
  width: 7.5rem;
}
#learn-btn
{
  border: 1px solid var(--white, #FFF);
  background: transparent;
  height: 3.25rem;
  width: 9rem;
}
#mecellem-btn:hover
{ 
  animation: shadow-animation 0.4s;
}
@keyframes shadow-animation 
{  
  0%,100% {
    box-shadow: 0 0 12px 0 rgba(255, 153, 0, 0.4);
  }
}