@font-face {
    font-family: 'Mecellem';
    src: url('Mecellem-font/subset-Mecellem-Regular.woff2') format('woff2'),
        url('Mecellem-font/subset-Mecellem-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Mecellem';
    src: url('Mecellem-font/subset-Mecellem-Italic.woff2') format('woff2'),
        url('Mecellem-font/subset-Mecellem-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Mecellem';
    src: url('Mecellem-font/subset-Mecellem-Bold.woff2') format('woff2'),
        url('Mecellem-font/subset-Mecellem-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Mecellem';
    src: url('Mecellem-font/subset-Mecellem-SemiBold.woff2') format('woff2'),
        url('Mecellem-font/subset-Mecellem-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }